---
Checks: 'bugprone-*,readability-*,modernize-*,performance-*,cppcoreguidelines-*'
WarningsAsErrors: '*'
CheckOptions:
  - key:             readability-identifier-naming.VariableCase
    value:           camelCase
